* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
  font-weight: 600;
  font-weight: normal;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  /* color: #fff; */
 border-bottom: 1px solid #eee;
  z-index: 9999;
  background-color: #0e4035;
}
.header-center {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.logo {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
  font-weight:bold;
  font-size: 24px;
}
.logo a {
  color: #ffff;
}

.main-menu li {
  float: left;
  font-size: 15px;
  margin-left: 20px;
}
.main-menu li a {
  color: #ffff;
  opacity: 0.6;
}
.main-menu li.active a {
  opacity: 1;
}
img{
  display: block;
  
}
/* 휠 동그라미 버튼 */
#fp-nav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 17px;
  z-index: 9999;
  margin-top: 0 !important;
  /* background-color: aqua; */
}
#fp-nav ul li {
  /* margin: 0; */
  display: flex;
  justify-content: center;
}
#fp-nav ul li a {
  display: block;
  padding: 3px;
}
#fp-nav ul li a span {
  display: block;
  width: 6px; height: 6px;
  border-radius: 100%;
  background-color: #000;
  opacity: 0.5;
}
#fp-nav ul li a.active span {
 width: 8px; height: 8px;
 opacity: 1;
}
/* 네비게이션 end */

.text1 p {
  margin-top: 100px;
  display: block;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
  text-align: center;

}
#logo2 a img{

  margin-top: 100px;
  margin-left:500px;
}
.main-image1 img{
  margin: 0 auto;
  margin-bottom: 50px;
}

.design-goal img{

  margin-top: 500px;
  margin: 0 auto;
}
/* -------------------------HOME/DESIGNGOAL END--------- */

/* bx-slider */
/* bx슬라이더 */

.slide-list >li {
  width: 100%;
  height: 100vh;
  /* color:aqua; */
  /* background-color: beige; */
  position: relative;
}

.content{
width: 1024px;
height:900px;
/* background-color: aqua; */
position: absolute;
/* left:0%;
top:0%;  
transform: translate(-50%, -50%); */

}
.content a {
  display: block;
  width: 1024x;
  height: 0px;

  /* display: flex;
  justify-content: center;
  align-items: center; */
  color:#000;
}
.content a img{
  display: block;
}

/* bx좌우버튼 */
.bx-prev, .bx-next{
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
width: 50px;
height: 50px;
background-color: red;

/* next , prev 글자 안보이게 */
overflow: hidden;

}
.bx-prev{
  margin-left: -600px;
}
.bx-next{
  margin-left: 600px;
}

.bx-prev::before, .bx-next::befroe{
  font-family: xeicon!important;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size:30px;
  color:#fff;
}
.bx-prev::before{
  content: "\e93b";
  text-align: left;
}
.bx-next::before{
content: \e93e;  
text-align: right;
}
/* bx동그라미버튼 */
.bx-pager{
  position: absolute;
  bottom:15px;
  left:50%;
  transform: translateX(-50%);

}
.bx-pager div{
  display: inline-block;
  padding: 3px;
}

.bx-pager div a{
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  opacity: 0.5;
  /* 글씨컬러 투명하게  */
  color:transparent;
}
.bx-pager div a.active{
  opacity: 1;
  width: 24px;
  height: 6px;
}
/* -----------bx-slider end-------------- */

.who-what-how ul  .first img{
width: 320px;
height: 320px;
margin-top:200px;
margin-bottom:0;
position: absolute;
z-index: 1;
}
.who-what-how ul .first img+p{


z-index: 2;



}
